---
title: Illustration
eleventyNavigation:
  key: Illustration
  order: 2
layout: main.njk
permalink: "/Illustration/"
meta_desc: Paz Campos' art portfolio.
url: https://eleventy-gallery.netlify.app/gallery
img: /images/terrace-window.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
description: "Paz Campos is a visual artist, illustrator & cartoonist based in Santiago de Chile. His work has been featured in several mediums from webgames to award-winning comic anthologies. Self-publishing is his greatest love."
---

<div class="page-banner">
  <p>{{ description }}</p>
</div>

{% include "partials/feature-gallery.njk" %}